html, body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
}

article, aside, footer, header, hgroup, nav, section, audio, canvas, video {
  display: block;
}

body {
  font-size: 100%;
  font-family: 'Microsoft YaHei', 'Helvitica', 'Verdana', 'Tohoma', 'Arial', 'san-serif',Helvetica,STHeiti,Droid Sans Fallback;
  font-size: 30px;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

textarea {
  resize: none;
}

iframe, img {
  border: 0;
}

li, ul, ol {
  list-style: none;
}

input, select, textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only;
}

input {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

html, body {
  width: 16rem;
}

.app {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}

.app .mt10 {
  margin-top: 0.256rem !important;
}

.app .shareMask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.app .shareTip {
  width: 10.112rem;
  height: 7.33867rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/share_tips.png");
  position: absolute;
  top: 0;
  right: 0;
}

.app .hide {
  display: none;
}

.app .doHide {
  display: none !important;
}

.app .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.app .mask .ruleBg {
  width: 13.14133rem;
  height: 12.58667rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/ruleBg.png");
  margin: 0 auto;
  margin-top: 6.4rem;
}

.app .mask .ruleBg .h1 {
  width: 13.14133rem;
}

.app .rule {
  width: 11rem;
  margin: 0 auto;
  margin-top: 0.21333rem;
}

.app .mt20 {
  margin-top: 0.85333rem !important;
}

.app .h1, .app .h2 {
  width: 14.93333rem;
  height: 1.10933rem;
  line-height: 1.10933rem;
  font-size: 1.10933rem;
  color: #FEE4C3;
  background: none;
  text-align: center;
  font-weight: 300;
}

.app img {
  width: 16rem;
  height: auto;
  overflow: hidden;
  vertical-align: bottom;
  margin: 0;
}

.app .wrap {
  position: absolute;
  top: 10.66667rem;
  left: 0;
  width: 100%;
  height: auto;
}

.app .wrap .ruleBtn {
  width: 2.624rem;
  height: 1.06667rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/ruleBtn.png");
  position: absolute;
  top: -7.25333rem;
  right: 0;
}

.app .special {
  width: 14.93333rem;
  height: auto;
  margin: 0 auto;
}

.app .special .specialBgT {
  width: 14.93333rem;
  height: 0.85333rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/specialBgT.png");
}

.app .special .specialBgM {
  width: 14.93333rem;
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/specialBgM.png");
}

.app .special .specialBgM .priceBtn {
  width: 3.28533rem;
  height: 4.05333rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/priceBtnActive.png");
  position: relative;
  margin-left: 10.88rem;
}

.app .special .specialBgM .priceBtn span {
  width: 0.64rem;
  height: 3.37067rem;
  line-height: 0.85333rem;
  font-size: 0.64rem;
  color: #fff;
  background: none;
  text-align: left;
  font-Weight: 900;
  top: 0.34133rem;
  left: 1.92rem;
  display: inline-block;
  position: absolute;
}

.app .special .specialBgM .priceBtn .priceBg {
  width: 11.24267rem;
  height: 4.05333rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/priceBg.png");
  position: absolute;
  top: 0;
  left: -10.13333rem;
}

.app .special .specialBgM .priceBtn .priceBg .mark {
  width: 4.01067rem;
  height: 1.024rem;
  line-height: 1.024rem;
  font-size: 0.512rem;
  color: #FEDFC0;
  background: none;
  text-align: center;
}

.app .special .specialBgM .priceBtn .priceBg .title {
  width: 9.25867rem;
  height: 0.768rem;
  line-height: 0.768rem;
  font-size: 0.768rem;
  color: #7F5E4D;
  background: none;
  text-align: left;
  font-weight: 900;
  top: 1.57867rem;
  left: 1.06667rem;
  letter-spacing: 0.04267rem;
  position: absolute;
}

.app .special .specialBgM .priceBtn .priceBg .subTitle {
  width: 9.25867rem;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #B8A38E;
  background: none;
  text-align: left;
  font-weight: 600;
  top: 2.56rem;
  left: 1.06667rem;
  letter-spacing: 0.08533rem;
  position: absolute;
}

.app .special .specialBgM .rightsBg {
  width: 5.97333rem;
  height: 7.14667rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/rightsBg.png");
  position: relative;
}

.app .special .specialBgM .rightsBg .rightsMark {
  width: 4.01067rem;
  height: 1.024rem;
  line-height: 1.024rem;
  font-size: 0.512rem;
  color: #FEDFC0;
  background: none;
  text-align: center;
  top: 0.46933rem;
  left: 2.944rem;
  transform: rotate(40deg) scale(0.8);
  -webkit-transform: rotate(40deg) scale(0.8);
  position: absolute;
}

.app .special .specialBgM .rightsBg .rightsTitle {
  width: 4.77867rem;
  height: 1.70667rem;
  line-height: 1.70667rem;
  font-size: 1.70667rem;
  color: #8F6F48;
  background: none;
  text-align: center;
  top: 1.49333rem;
  left: 0.55467rem;
  letter-spacing: 0.04267rem;
  position: absolute;
}

.app .special .specialBgM .rightsBg .rightsSubTitle {
  width: 4.77867rem;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #706352;
  background: none;
  text-align: center;
  font-weight: 900;
  top: 3.62667rem;
  left: 0.55467rem;
  letter-spacing: 0.04267rem;
  position: absolute;
}

.app .special .specialBgM .rightsBg .rightsRob {
  width: 4.77867rem;
  height: 0.68267rem;
  line-height: 0.68267rem;
  font-size: 0.68267rem;
  color: #8F6F48;
  background: none;
  text-align: center;
  font-weight: 900;
  top: 5.54667rem;
  left: 0.55467rem;
  letter-spacing: 0.04267rem;
  position: absolute;
}

.app .special .specialBgM .rightsBg1 {
  width: 13.44rem;
  height: 3.648rem;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/rightsBg1.png");
  margin-left: -0.3rem;
}

.app .special .specialBgM .rightsBg1 .rights1Mark {
  width: 4.01067rem;
  height: 1.024rem;
  line-height: 1.024rem;
  font-size: 0.512rem;
  color: #FEDFC0;
  background: none;
  text-align: center;
  top: 0.42667rem;
  left: -0.85333rem;
  transform: rotate(-40deg) scale(0.8);
  -webkit-transform: rotate(-40deg) scale(0.8);
  position: absolute;
}

.app .special .specialBgM .rightsBg1 .rights1Title {
  width: 4.77867rem;
  height: 1.70667rem;
  line-height: 1.70667rem;
  font-size: 1.70667rem;
  color: #8F6F48;
  background: none;
  text-align: center;
  top: 0.42667rem;
  left: 3.2rem;
  letter-spacing: 0.04267rem;
  position: absolute;
}

.app .special .specialBgM .rightsBg1 .rights1SubTitle {
  width: 4.77867rem;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #706352;
  background: none;
  text-align: center;
  font-weight: 900;
  top: 2.34667rem;
  left: 3.2rem;
  letter-spacing: 0.04267rem;
  position: absolute;
}

.app .special .specialBgM .rightsBg1 .rights1Rob {
  width: 2.13333rem;
  height: 0.68267rem;
  line-height: 0.68267rem;
  font-size: 0.68267rem;
  color: #8F6F48;
  background: none;
  text-align: center;
  font-weight: 900;
  top: 1.06667rem;
  left: 10.45333rem;
  letter-spacing: 0.04267rem;
  position: absolute;
}

.app .special .specialBgM .rightsBgWrap {
  width: 12.8rem;
  margin: 0 auto;
}

.app .special .specialBgB {
  width: 14.93333rem;
  height: 0.85333rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/specialBgB.png");
}

.app .news {
  width: 14.93333rem;
  height: 12.26667rem;
  margin: 0 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/newsBg.png");
}

.app .news .vedio {
  width: 13.52533rem;
  height: 8.85333rem;
  background: #fff;
  margin: 0 auto;
  margin-top: 0.42667rem;
  position: relative;
  border-radius: 0.21333rem;
  -webkit-border-radius: 0.21333rem;
}

.app .news .vedio .cover {
  width: 13.52533rem;
  height: 7.50933rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/cover.png");
  margin: o auto;
}

.app .news .vedio .tip {
  width: 13.97333rem;
  height: 0.93867rem;
  line-height: 0.93867rem;
  font-size: 0.512rem;
  color: #000000;
  background: #fff;
  text-align: center;
  font-weight: 900;
  top: 7.50933rem;
  left: -0.27733rem;
  transform: scale(0.97);
  -webkit-transform: scale(0.95);
  position: absolute;
}

.app .hot {
  width: 15.14667rem;
  height: 20.82133rem;
  margin: 0 auto;
  overflow: hidden;
}

.app .hot .styleR .mark, .app .hot .styleR .mark1, .app .hot .styleR .mark2, .app .hot .styleR .title, .app .hot .styleR .title1, .app .hot .styleR .title2, .app .hot .styleR .subTitle, .app .hot .styleR .subTitle1, .app .hot .styleR .subTitle2, .app .hot .styleR .btn, .app .hot .styleR .btn1, .app .hot .styleR .btn2 {
  left: 0.21333rem !important;
}

.app .hot .styleL {
  right: 0rem !important;
  bottom: 0rem !important;
}

.app .hot .ad, .app .hot .ad1, .app .hot .ad2 {
  width: 8.32rem;
  height: 4.58667rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.app .hot .hotLeft, .app .hot .hotRight, .app .hot .hotLeft2 {
  width: 15.14667rem;
  height: 5.35467rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/hotLeft.png");
  margin-top: 0.85333rem;
  position: relative;
}

.app .hot .hotLeft .mark, .app .hot .hotLeft .mark1, .app .hot .hotLeft .mark2, .app .hot .hotRight .mark, .app .hot .hotRight .mark1, .app .hot .hotRight .mark2, .app .hot .hotLeft2 .mark, .app .hot .hotLeft2 .mark1, .app .hot .hotLeft2 .mark2 {
  width: 7.25333rem;
  height: 0.512rem;
  line-height: 0.512rem;
  font-size: 0.512rem;
  color: #fff;
  background: "none";
  text-align: left;
  top: 2.77333rem;
  left: 8.10667rem;
  position: absolute;
}

.app .hot .hotLeft .title, .app .hot .hotLeft .title1, .app .hot .hotLeft .title2, .app .hot .hotRight .title, .app .hot .hotRight .title1, .app .hot .hotRight .title2, .app .hot .hotLeft2 .title, .app .hot .hotLeft2 .title1, .app .hot .hotLeft2 .title2 {
  width: 7.25333rem;
  height: 0.68267rem;
  line-height: 0.68267rem;
  font-size: 0.68267rem;
  color: #FFE3C5;
  background: none;
  text-align: left;
  font-weight: 900;
  top: 0.93867rem;
  left: 8.53333rem;
  letter-spacing: 0.04267rem;
  position: absolute;
}

.app .hot .hotLeft .subTitle, .app .hot .hotLeft .subTitle1, .app .hot .hotLeft .subTitle2, .app .hot .hotRight .subTitle, .app .hot .hotRight .subTitle1, .app .hot .hotRight .subTitle2, .app .hot .hotLeft2 .subTitle, .app .hot .hotLeft2 .subTitle1, .app .hot .hotLeft2 .subTitle2 {
  width: 7.25333rem;
  height: 0.59733rem;
  line-height: 0.59733rem;
  font-size: 0.55467rem;
  color: #FFE3C5;
  background: none;
  text-align: left;
  font-weight: 300;
  top: 1.92rem;
  left: 8.53333rem;
  position: absolute;
}

.app .hot .hotLeft .btn, .app .hot .hotLeft .btn1, .app .hot .hotLeft .btn2, .app .hot .hotRight .btn, .app .hot .hotRight .btn1, .app .hot .hotRight .btn2, .app .hot .hotLeft2 .btn, .app .hot .hotLeft2 .btn1, .app .hot .hotLeft2 .btn2 {
  width: 4.26667rem;
  height: 1.10933rem;
  line-height: 1.10933rem;
  font-size: 0.59733rem;
  color: #fff;
  background: #F16254;
  text-align: center;
  letter-spacing: 0.04267rem;
  top: 3.62667rem;
  left: 8.10667rem;
  position: absolute;
}

.app .navigation {
  width: 7.808rem;
  height: 1.49333rem;
  margin: 0 auto;
  border: solid 0.04267rem #87B9DA;
  border-radius: 0.21333rem;
  -webkit-border-radius: 0.21333rem;
}

.app .navigation .mark {
  width: 7.808rem;
  height: 1.49333rem;
  line-height: 1.49333rem;
  text-align: center;
  margin: 0 auto;
  color: #87B9DA;
  font-size: 0.64rem;
}

.app .ad {
  width: 15.168rem;
  height: 3.15733rem;
  margin: 0 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/adBg.png");
  position: relative;
}

.app .ad .iconCat {
  width: 2.47467rem;
  height: 0.81067rem;
  margin: 0 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/iconCat.png");
}

.app .ad .mark {
  width: 14.72rem;
  height: 1.024rem;
  line-height: 1.024rem;
  font-size: 0.512rem;
  color: #88B9DA;
  background: none;
  text-align: center;
  left: 0.21333rem;
  top: 1.70667rem;
  position: absolute;
}

.app .stickyBtn {
  width: 100%;
  height: 2.64533rem;
  position: fixed;
  bottom: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/stickyBtn.png");
  background-size: 15.14667rem 2.64533rem;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.app .stickyBtn .mark {
  width: 14.72rem;
  height: 2.64533rem;
  line-height: 2.64533rem;
  font-size: 0.85333rem;
  color: #fff;
  background: none;
  text-align: center;
  left: 0.64rem;
  top: 0rem;
  letter-spacing: 0.08533rem;
  position: absolute;
}

.style1 {
  border-radius: 0rem !important;
  -webkit-border-radius: 0rem !important;
}

.style2 {
  border-radius: 0.21333rem !important;
  -webkit-border-radius: 0.21333rem !important;
}

.style3 {
  border-radius: 0.74667rem !important;
  -webkit-border-radius: 0.74667rem !important;
}

.style4 {
  border-style: dashed !important;
}

.style5 {
  border-style: solid !important;
  border-radius: 0.21333rem !important;
  -webkit-border-radius: 0.21333rem !important;
}

.style6 {
  border-style: dotted !important;
  border-radius: 0.74667rem !important;
  -webkit-border-radius: 0.74667rem !important;
}
